*,::after,::before {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: unset;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

img {
    vertical-align: middle;
}

button {
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

[type=button], button {
    -webkit-appearance: button;
    appearance: button;
}

[type=button]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.game-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(../images/fundo.png) no-repeat;
    background-size: 100% 100%;
}

.game-wrapper .game-title {
    padding-top: 10.33333vw;
    text-align: center;
}

.game-wrapper .game-title img {
    width: 65vw;
    height: 55vw;
    border-radius: 50%;
}

.game-wrapper .prize-module {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.game-wrapper .prize-module .prize {
    width: 75.73333vw;
    height: 75.73333vw;
    background: url(../images/moldura.png) no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.4vw;
}

.game-wrapper .prize-module .prize img {
    position: absolute;
    z-index: -1;
    width: 72vw;
    height: 72vw;
    transform: rotate(0);
    transition: transform 5s ease-in-out 0s;
}

@font-face {
    font-family: "Unbounded Bold";
    src: url("../fonts/Unbounded-Bold.eot") format("embedded-opentype"),
         url("../fonts/Unbounded-Bold.woff2") format("woff2"),
         url("../fonts/Unbounded-Bold.woff") format("woff"),
         url("../fonts/Unbounded-Bold.ttf") format("truetype"),
         url("../fonts/Unbounded-Bold.svg") format("svg");
    font-weight: 700;
}

.game-wrapper .prize-module button {
    display: block;
    width: 80vw;
    height: 18.66667vw;
    outline: none;
    border: 0;
    background: url(../images/botao.png) no-repeat;
    background-size: 80vw 18.66667vw;
    font-family: "Unbounded Bold";
    cursor: pointer;
    margin: 0 auto;
    margin-top: 5.33333vw;
    color: #fff;
    font-size: 9.33333vw;
    padding-bottom: 2vw;
    text-align: center;
    transform: scale(.7);
    animation: fadeIn 1s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes fadeIn {
    0% {
        transform: scale(.7);
    }
    to {
        transform: scale(.9);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90.66667vw;
    height: 47.46667vw;
    background: url(../images/popup.png) no-repeat;
    background-size: 90.66667vw 47.46667vw;
    text-align: center;
    padding-top: 4vw;
}
